*.cs linguist-vendored=C#
*.cs linguist-detectable=C#
* linguist-vendored
*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.css linguist-detectable=false